
{{> head title='BTM: ICO requirement portal'}}
<body>
{{> header}}
<main>
    <section class="bc-section-one">
        <div class="bc-landing-text">
            <h1 class="bc-landing-title">Create your ICO with us</h1>
            <p>With a variety of templates and smart contracts to choose from,
                we aim to provide your with a rapid, safe, and secure procedure to raise your Initial Coin Offering
                (ICO).
                Each ICO package comes with standard components, so you get to choose your add-on features based on your
                needs.
                If you're looking for more features beyond what we offer, drop us a line and tell us what you think.
                So what are you waiting for? Get started!</p>
            <a href="" class="bc-btn bc-btn-default bc-t-white">Sign In</a>
            <a href="" class="bc-btn bc-btn-default bc-t-white">Register</a>
        </div>
    </section>

    <section class="bc-section-two">
        <div class="bc-service-intro">
            <h2>Our Base ICO Offering</h2>
            <p>The following items come with any standard base package, so you can have a simple ICO up and running in
                no time.</p>
        </div>
        {{> content/base-offering}}
        <div>
            <a href="" class="bc-btn bc-btn-default">Get Started</a>
        </div>
    </section>
    <div class="bc-center">
        <hr class="bc-hr">
    </div>

    <section class="bc-section-three">
        <div class="bc-service-intro">
            <h2>Get the most out of your ICO</h2>
            <p>Want more features to boost your ICO? Look no further! </p>
        </div>
        {{> content/addon-offering}}
    </section>

    <section class="bc-section-four">
        <div class="bc-service-intro">
            <h2>How it works</h2>
        </div>

        {{> content/ico-process}}
        <div>
            <a href="" class="bc-btn bc-btn-default">Start Now!</a>
        </div>
    </section>
</main>


{{> footer}}
</body>
{{> commonjs}}
</html>
